body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {

  
  height: 400px;
  width:100%;
  max-width:550px; 
  margin: 0 auto;
 
  
 
}
