extends layout

block content
  h1= title
  p Welcome to Adaptive Media Streaming Reporting System

  
  
  ul
  each val, index in metrics
     each val1, index1 in val
        li= index1 + ': ' + val1

  table(border='1')
    thead 
         tr
            th id
            th Name
    tbody
        each val, i in metrics
            tr
               td= val.id 
               td= val.name    




    <canvas id="myChart" width="100" height="100"></canvas>

block script
  script.  
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
            label: "My First dataset",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
            }]
            }
            });
